# modules
node_modules/

# source files
.eslintrc
.gitignore
.npmignore
README.md
.babelrc
.DS_Store
webpack.config.development.js
webpack.config.production.js
webpack.config.public.production.js

# source folders
.git/
public/
src/
